@import "tailwindcss";

*{
  /* font-family: "Poppins"; */
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
}

/* Loader */

@keyframes loading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}

.animate-loading {
  animation: loading 1.5s infinite ease-in-out;
}

/* Container Scrollbar */

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


/* Hide Scrollbar */

.hide-scrollbar {
  overflow: auto;          
  scrollbar-width: none;    
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;            
}

.scroll-smooth {
  scroll-behavior: smooth;
}

/* Wave Animation */

@keyframes wave {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
}

.animate-wave {
  display: inline-block;
  animation: wave 1.5s infinite;
}

/* ====================================================== */

